<%= form_tag "/lessons/#{@lesson.id}", method: :patch do %>
<h1><%= text_field_tag :input_name, @lesson.name %> </h1>

All sections should be converted to Markdown Editors
<div class="admin_actions">
<ul>
  <li><%= link_to "Create New Module", "/lesson_modules/new?lesson_id=#{@lesson.id}" %> </li>
  <li> <%= link_to "Delete Lesson." , "/lessons/#{@lesson.id}", method: :delete %></li>
</ul>
</div>

<h2>Description</h2>
  <%= text_area_tag :input_description, @lesson.description %> 

<div>
  <%= label_tag :category, "Category : " %>
  <%= collection_select :lesson_category, :lesson_category_id, LessonCategory.all, :id, :name %>  
</div>

<h2>Concept</h2>
  <%= text_area_tag :input_concept, @lesson.concept %> 


<h2>Purpose</h2>
  <%= text_area_tag :input_purpose, @lesson.purpose %> 

<h2>Example</h2>
  <%= text_area_tag :input_example, @lesson.example %> 

<!-- Try Markdown Sections For Form -->
<%= submit_tag "Save" %>
<% end %>


<form>
  <input name="title" type="text" placeholder="Title?" />
  <textarea name="content" data-provide="markdown" data-savable="true" rows="10"></textarea>
  <label class="checkbox">
    <input name="publish" type="checkbox"> Publish
  </label>
  <hr/>
  <button type="submit" class="btn">Submit</button>
</form> 



