<div class="container">
  <div class="row">
      
  <div class="col-md-8">
    <%= form_tag "/lessons/#{@lesson.id}", method: :patch do %>
    <h1><%= text_field_tag :input_name, @lesson.name %> </h1>
    <div class="lesson_nav">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Lesson</a></li>
        <li role="presentation"><a href="#">Modules</a></li>
        <li role="presentation"><a href="#">Code</a></li>
        <li role="presentation"><a href="#">Notes</a></li>
      </ul>
    </div>

    <div class="main_body">
      All sections should be converted to Markdown Editors
      <h2>Markdown Edit Area</h2>
        <%= text_area_tag :input_markdown, @lesson.description %>

      <div>
        <%= label_tag :category, "Category : " %>
        <%= collection_select :lesson_category, :lesson_category_id, LessonCategory.all, :id, :name %>  
      </div>

      <%= submit_tag "Save" %> 
      <% end %>
    </div>
  </div> <!-- col -->
  <div class="col-md-4">
    <div class="action_menu" style="">
      <h2>Actions</h2>
      <ul class="nav nav-pills nav-stacked">
        <% if current_user && !@lesson_session %>
          <li><%= link_to "Start Lesson Button!" , "/lessons/#{@lesson.id}?new_session"%></li>
          <li><%= link_to "Add to Lesson Plan Button", "/lessons/#{@lesson.id}"%></li>
        <% else %>
          <li><%= link_to "Resume Lesson Button!" , "/lessons/#{@lesson.id}?new_session"%></li>
        <% end %>
        <li role="separator" class="divider"></li>
        <li><strong>Administration</strong></li>
        <li><%= link_to "Create New Module", "/lesson_modules/new?lesson_id=#{@lesson.id}" %> </li>
        <li><%= link_to "Edit Lesson", "/lessons/#{@lesson.id}/edit" %> </li>
        <li> <%= link_to "Delete Lesson." , "/lessons/#{@lesson.id}", method: :delete %></li>
      </ul>
    </div>
  </div> <!-- col -->
</div>

<%= javascript_include_tag "markdown_editor" %>






