<h1>User's Lesson Dashboard</h1>

<div>
  <p>This page represents a logged in user's Learning Dashboard. It should represent the homepage if a user is logged in.
  </p>
</div>

<div>
  <h2>Current Learning</h2>
  <p> Loop through and List Current User's Lesson Sessions.</p>

  <table>
    <tr>
      <th>Lesson_Session ID</th>
      <th>Lesson</th>
      <th>Go To Link</th>
      <th>Data Started</th>
      <th>Progress</th>
    </tr>
    <% current_user.get_lesson_sessions.each do |session| %>
      <tr>
        <td><%= link_to session.id, lesson_path(session.lesson.id)+"?session=#{session.id}" %></td>
        <td><%= session.lesson.name %></td>
        <td><%= session.created_at %></td>
        <td><%= session.get_progress %></td>
        <td> <%= session.id %></td>
        <td> <%= session.id %></td>
      </tr>
    <% end %>
  <table>
</div>