<div class="container">
  <div class="row">
      
  <div class="col-md-8">
    <h1><%= @lesson.name %></h1>
    All sections should be converted to Markdown -> HTML Blocks
    <div class="lesson_nav">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Lesson</a></li>
        <li role="presentation"><a href=<%= "#{lesson_modules_path}?lid=#{@lesson.id}" %>>Modules</a></li>
        <li role="presentation"><a href="#">Code</a></li>
        <li role="presentation"><a href="#">Notes</a></li>
      </ul>
    </div>

    <div class="main_body">
      <p><%= to_markdown(@lesson.description).html_safe %></p>
      <hr>
      <h2>Modules</h2>
      <!-- Move to Modules Index Page -->
      <ul>
        <% @lesson.lesson_modules.each_with_index do |lesson_module,i| %>
          <li><%= link_to (i).to_s, "/lesson_modules/#{lesson_module.id}" %></li>
        <% end %>
      </ul>
    </div>

  </div> <!-- col -->
  <div class="col-md-4">
    <div class="action_menu" style="">
      <h2>Actions</h2>
      <ul class="nav nav-pills nav-stacked">
        <% if current_user && !@lesson_session %>
          <li><%= link_to "Start Lesson Button!" , "/lessons/#{@lesson.id}?new_session"%></li>
          <li><%= link_to "Add to Lesson Plan Button", "/lessons/#{@lesson.id}"%></li>
        <% elsif current_user%>
          <li><%= link_to "Resume Lesson Button!" , "/lessons/#{@lesson.id}?new_session"%></li>
        <% else %>
          <li><%= link_to "Sign Up to Start Lesson.", "/users/sign_up"%></li>
        <% end %>
        <li role="separator" class="divider"></li>
        <% if !current_user #EDIT THIS OUT %>
          <li><strong>Administration</strong></li>
          <li><%= link_to "Create New Module", "/lesson_modules/new?lesson_id=#{@lesson.id}" %> </li>
          <li><%= link_to "Edit Lesson", "/lessons/#{@lesson.id}/edit" %> </li>
          <li> <%= link_to "Delete Lesson." , "/lessons/#{@lesson.id}", method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div> <!-- col -->
</div>




