<h1><%= @lesson.name %></h1>

All sections should be converted to Markdown -> HTML Blocks
<div class="admin_actions">
<ul>
  <li><%= link_to "Create New Module", "/lesson_modules/new?lesson_id=#{@lesson.id}" %> </li>
  <li><%= link_to "Edit Lesson", "/lessons/#{@lesson.id}/edit" %> </li>
  <li> <%= link_to "Delete Lesson." , "/lessons/#{@lesson.id}", method: :delete %></li>
</ul>
</div>

<h2>Description</h2>
  <p><%= @lesson.description %></p>

<h2>Concept</h2>
  <p><%= @lesson.concept %></p>

<h2>Purpose</h2>
  <p><%= @lesson.purpose %></p>

<h2>Example</h2>
  <p><%= @lesson.example %></p>

<h2>Modules</h2>
<ul>
  <% @lesson.lesson_modules.each do |lesson_module| %>
    <li><%= link_to lesson_module.id, "/lesson_modules/#{lesson_module.id}" %></li>
  <% end %>
</ul>




