<%= form_tag "/lesson_modules/#{@module.id}", method: :patch do %>

All Text sections should be converted to Markdown Editors
<div class="admin_actions">
<ul>
  <li> <%= link_to "Delete Module." , "/lesson_modules/#{@module.id}", method: :delete %></li>
</ul>
</div>

<h2>Parent Lesson</h2>
  <%= text_field_tag :lesson_id, @module.id %>

<h2>Lesson Ordinal</h2>
  <%= text_field_tag :lesson_ordinal, @module.lesson_ordinal %>

<h2>Description</h2>
  <%= text_area_tag :input_description%> 

<h2>Code / Test </h2>
  <%= text_area_tag :input_code, script %> 
  <div id="editor">ADD CODE HERE</div>
  <!-- Move to Ace JavaScript -->
  <script>
  var editor = ace.edit("editor");
  ace.config.set("modePath", "/ace/");
  ace.config.set("themePath", "/ace/");
  editor.getSession().setUseWorker(false);
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/ruby");
  </script>
  <!-- Move to SCSS -->
  <style type="text/css" media="screen">
    #editor { 
      width: 60em;
      height: 300px;
    }
  </style>

<%= submit_tag "Save" %>

<% end %>

<%= link_to "Cancel" , "/lesson_modules/#{@module.id}" %>




